.blue-button {
    background:  #71C671;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 6px 16px;
    line-height: 16px;
}
.blue-button:hover,.blue-button:focus,.blueactive {
    background:#339933;
    color: #FFFFFF !important;
    cursor: pointer;
    text-decoration: none;

}

.red-button {
    background:  #FF74A1;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 6px 16px;
    line-height: 16px;
}
.red-button:hover,.red-button:focus {
    background:#FF82AB;
    color: #FFFFFF !important;
    cursor: pointer;
    text-decoration: none;

}