.clearfix {
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, li {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body {
    color: #333333;
    font-family: "proxima-nova-1","proxima-nova-2",Tahoma,Helvetica,Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.3;
    text-rendering: optimizelegibility;
}
body {
    background: none repeat scroll 0 0 white;
    color: #000000;
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
em {
    font-style: italic;
}
button {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 0;
}

.blue-button {
    background: none repeat scroll 0 0 #71C671;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 16px;
}
.blue-button:hover,.blue-button:focus {
    background:#339933;
    color: #FFFFFF !important;
    cursor: pointer;
    text-decoration: none;

}
#top {
    background: #8CBF3D;
    height: 8px;
    margin: 0;
}
#main {
    background: url("../img/login/bg.jpg") repeat-x scroll 0 0 transparent;
    height: 580px;
    position: relative;
}


.content {
    padding-top: 50px;
}
.content {
    margin: auto;
    padding-left: 20px;
    width: 900px;
}

.login {
    background-color: #ffffff;
    padding: 23px 20px 20px;
    position: relative;
    width: 350px;
}

.signupform input.text {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 5px;
    width: 330px;

}
.signupform label.label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 2px;
    text-transform: uppercase;
    float: left;
}
.signupform fieldset {
    margin-bottom: 15px;
    margin-top: 15px;
}
.signupform fieldset.nickname, .signupform fieldset.password {
    float: left;
    padding-right: 0;
    width: 175px;
}
.signupform fieldset.nickname input.text, .signupform fieldset.password input.text {
    width: 155px;
}
.signupform fieldset.email {
    clear: both;
}
.signupform .buttons {
    margin-top: 25px;

}
.reg_btn{
    background:#39BBD2;
    text-align:center;
    border:none;
    color:#FFFFFF;
    font-size:14px;
    font-weight:bold;
    line-height:16px;
    padding:8px 12px;
    cursor:pointer;
}
.reg_btn:hover{
    background:#8CBF3D;
}
.login .logo {
    background: url("../img/login/logo.png") no-repeat scroll 0 0 transparent;
    height: 61px;
    width: 350px;
}
.tagline {
    font-size: 16px;
    margin: 15px 0 20px;
    color: #333333;
    font-weight:normal;
    line-height: 1.3;
}
.started {
    color: #FF9900;
    margin: 15px 0 5px;
    font-size: 19px;
    font-weight: bold;
    color:#8CBF3D;
}
.twominutes {
    font-size: 19px;
    font-weight: bold;
     color: #333333;
}

.msg {
    font-size: 19px;
    font-weight: bold;
     color: red;
     display: none;
}

.dsnone{
    display: none;
}

.login p {
    font-weight: normal;
    margin-bottom: 10px
}

.login_txt{
    color:#8CBF3D;
    padding-left:25px;
}
#container{
    overflow:hidden;

    width: 900px;
    margin:auto;
}
#container h2 {
    color: #8CBF3D;
    font-family: "Microsoft Yahei","SimHei",Helvetica,Arial;
    font-size: 36px;
    font-weight: 600;
    padding: 30px 0 0;
    text-align: center;
}
#section1{
    margin-top: 60px;
}
#section1 h3{
    color: #333333;
    font-family: "Microsoft Yahei","SimHei",Helvetica,Arial;
    font-size: 30px;
    font-weight: 600;
    padding-bottom:10px;
}
#section1 .body{
    position: relative;
}
#section1 .body img {
    margin: 30px 0 0 30px;
}
#section1 .desc{
    color: #777777;
    font-size: 14px;
}
.footer-end{
    border-top: 1px solid #ccc;
    box-shadow: 0 1px 1px 0 #FFFFFF inset;
    margin-top:30px;
    color:#666666;
    

}
footer {
    box-shadow: 0 1px 1px 0 #FFFFFF inset;
    padding: 15px 0;
    width:980px;
    margin:0 auto;
    font-size:12px;
    
}

footer a{
    color:#666666;
}
footer .footer-info{
    float:left;
}
footer .footer-content{
    position:relative;
    bottom:5px;
    
}

.footer-end ul li{
    float:left;
    position:relative;
    padding:0 5px;
    left:840px;
}

